:root {
  --m-1: 8px;
  --m-2: 12px;
  --m-3: 20px;
  --m-4: 32px;
  --m-5: 48px;

  --p-1: 8px;
  --p-2: 12px;
  --p-3: 20px;
  --p-4: 32px;
  --p-5: 48px;

  --fs-1: 12px;
  --fs-2: 14px;
  --fs-3: 16px;
  --fs-4: 18px;
  --fs-5: 24px;

  --lh-1: 20px;
  --lh-2: 22px;
  --lh-3: 24px;
  --lh-4: 28px;
  --lh-5: 32px;

  --fw-1: 400;
  --fw-2: 500;
  --fw-3: 600;
  --fw-4: 700;
  --fw-5: 800;

  --br-1: 6px;
  --br-2: 8px;
  --br-3: 12px;
  --br-4: 16px;
  --br-5: 24px;

  --bg-base-color: #ffffff;
  --bg-secondary-color: #f8f9fa;
  --bg-tertiary-color: #f0f0f0;

  --text-base-color: #000000;
  --text-secondary-color: #606266;
  --text-tertiary-color: #8c8c8c;

  --primary-color: #1677ff;
  --primary-text-color: #ffffff;

  --primary-color-1: #e2f2fe;
  --primary-text-color-1: #1677ff;

  --border-base-color: #dcdfe6;
}

/* 针对宽度小于 768px 的设备（通常是移动设备） */
@media only screen and (max-width: 768px) {
  :root {
    --design-width: 375;

    /* clamp(min, preferred, max) */
    --m-1: clamp(8px, calc((8 / var(--design-width)) * 100vw), 10px);
    --m-2: clamp(10px, calc((10 / var(--design-width)) * 100vw), 12px);
    --m-3: clamp(14px, calc((14 / var(--design-width)) * 100vw), 16px);
    --m-4: clamp(18px, calc((18 / var(--design-width)) * 100vw), 20px);
    --m-5: clamp(24px, calc((24 / var(--design-width)) * 100vw), 24px);

    --p-1: clamp(8px, calc((8 / var(--design-width)) * 100vw), 10px);
    --p-2: clamp(10px, calc((10 / var(--design-width)) * 100vw), 12px);
    --p-3: clamp(14px, calc((14 / var(--design-width)) * 100vw), 16px);
    --p-4: clamp(18px, calc((18 / var(--design-width)) * 100vw), 20px);
    --p-5: clamp(24px, calc((24 / var(--design-width)) * 100vw), 26px);

    --fs-1: clamp(12px, calc((12 / var(--design-width)) * 100vw), 14px);
    --fs-2: clamp(14px, calc((14 / var(--design-width)) * 100vw), 16px);
    --fs-3: clamp(16px, calc((16 / var(--design-width)) * 100vw), 18px);
    --fs-4: clamp(18px, calc((18 / var(--design-width)) * 100vw), 20px);
    --fs-5: clamp(24px, calc((24 / var(--design-width)) * 100vw), 26px);

    --lh-1: clamp(16px, calc((16 / var(--design-width)) * 100vw), 18px);
    --lh-2: clamp(18px, calc((18 / var(--design-width)) * 100vw), 20px);
    --lh-3: clamp(20px, calc((20 / var(--design-width)) * 100vw), 22px);
    --lh-4: clamp(22px, calc((22 / var(--design-width)) * 100vw), 24px);
    --lh-5: clamp(28px, calc((28 / var(--design-width)) * 100vw), 30px);

    --br-1: clamp(6px, calc((6 / var(--design-width)) * 100vw), 8px);
    --br-2: clamp(8px, calc((8 / var(--design-width)) * 100vw), 10px);
    --br-3: clamp(12px, calc((12 / var(--design-width)) * 100vw), 14px);
    --br-4: clamp(16px, calc((16 / var(--design-width)) * 100vw), 18px);
    --br-5: clamp(24px, calc((24 / var(--design-width)) * 100vw), 26px);
  }
}
