::-webkit-scrollbar {
  display: none;
}

.questionnaire__btn {
  border: 0;
  display: inline-block;
  font-size: var(--fs-2);
  padding: var(--p-1) var(--p-2);
  border-radius: var(--br-2);
  margin-top: var(--m-1);
  cursor: pointer;
  background-color: var(--questionnaire-btn-bg-color);
  color: var(--questionnaire-btn-text-color);
}

.technical-support {
  font-size: var(--fs-1);
  text-align: center;
  color: var(--text-tertiary-color);
  margin-top: var(--m-3);
}

.questionnaire__card {
  border-radius: var(--br-2);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
  background-color: var(--questionnaire-content-bg-color);
  color: var(--questionnaire-text-color);
  padding: var(--p-3);
}

.questionnaire__tips {
  color: var(--questionnaire-text-color);
  font-size: var(--fs-2);
  text-align: center;
  margin: var(--m-1) 0;
}

.upload-file__item {
  border-radius: var(--br-2);
  margin: var(--m-1) 0;
  padding: var(--p-1);
  background-color: var(--bg-tertiary-color);
  color: var(--text-base-color);
  font-size: var(--fs-2);
  border: 1px solid var(--border-base-color);
  line-height: normal;
}

.upload-file__item__content {
  display: flex;
  align-items: center;
}

.upload-file__item__icon {
  display: block;
  width: 22px;
  height: 22px;
}

.upload-file__item__title {
  flex: 1;
  width: 0;
  word-wrap: break-word;
  word-break: normal;
  margin: 0 var(--m-1);
}

.upload-file__item__btn {
  cursor: pointer;
  font-size: var(--fs-1);
  padding: calc(var(--p-1) / 2) var(--p-2);
  background-color: transparent;
  transition: all 0.3s;
  border-radius: var(--br-1);
}

.upload-file__item__btn:hover {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

/* 针对宽度小于 768px 的设备（通常是移动设备） */
@media only screen and (max-width: 768px) {
  .questionnaire__card {
    padding: var(--p-2);
  }
}
